*,
*::before,
*::after,
:root {
    margin              : 0;
    padding             : 0;
    box-sizing          : border-box;
}

body {
    font-family         : 'Open Sans', sans-serif !important;
    font-size           : 1.2rem !important;
    /*padding             : 2rem;*/
    background-color    : #164D8B !important;
    color               : #DCE3EE !important;
}

#main {
    min-height          : calc(100vh - 4rem);
    padding             : 2rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proza Libre', sans-serif !important;
}

.card {
    box-shadow          : 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius       : 0.75rem !important;
}

.formCard {
    background-color    : #DCE3EE !important;
    color               : #164D8B !important;
}

.stockCard {
    background-color    : #199DD5 !important;
}

.form {
    position            : relative;
    box-sizing          : border-box;
    height              : auto;
    padding             : 0.5rem;
    display             : flex;
    flex-direction      : column;
}

input[type="text"] {
    color               : #164D8B !important;
    font-size           : 1.2rem; 
    background-color    : #DCE3EE !important;
    border-color        : #164D8B;
}

input[type="text"]:focus {   
    border-color        : #164D8B;
    box-shadow          : 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #164D8B;
    outline             : 0 none;
}

li {
    background-color    : #199DD5 !important;
    border              : none !important; 
}

.btn-primary, .btn-primary:visited {
    background          : #164D8B !important; 
    border-color        : #199DD5 !important;
    color               : #DCE3EE !important;
    transition          : 300ms; 
}
  .btn-primary:hover,
  .btn-primary:active {
        background      : #3b6cb3 !important; 
        border-color    : #DCE3EE !important; 
  }

.btn:focus {
    border-color        : #199DD5 !important;
    box-shadow          : inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #199DD5 !important;
}

footer {
    text-align          : center;
    height              : 4rem;
    z-index             : 98;
    background-color    : #3b6cb3;
    box-shadow          : 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

footer a, footer a:visited {
    color               : black;
    transition          : color 300ms; 
}

    footer a:hover, footer a:active {
        text-decoration : none;
    }

::placeholder {
    color               : #7893bd !important;
}

.loader,
        .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
        .loader {            
            margin: 60px auto;
            font-size: 10px;
            position: relative;
            text-indent: -9999em;
            border-top: 1.1em solid rgba(255, 255, 255, 0.2);
            border-right: 1.1em solid rgba(255, 255, 255, 0.2);
            border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
            border-left: 1.1em solid #ffffff;
            -webkit-transform: translateZ(0);
            -ms-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-animation: load8 1.1s infinite linear;
            animation: load8 1.1s infinite linear;
        }
        @-webkit-keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes load8 {
            0% {
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
            }
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        #loadingDiv {
            background-color:#164D8B;
        }
